<div class="schools pt-5">
  <%= search_form_for @q, class: "is-flex is-align-items-center mb-4" do |f| %>
    <%= f.label :province, class: "mr-2" %>
    <div class="select mr-4">
      <%= f.select :province_cont, options_for_select(province_options, @q.province_cont), include_blank: "All" %>
    </div>

    <div class="mr-4">
      <%= f.label "Motorcycle" %>
      <%= f.check_box :motorcycle_true, {}, 1, nil %>
    </div>

    <div class="mr-4">
      <%= f.label "Light" %>
      <%= f.check_box :light_true, {}, 1, nil %>
    </div>

    <div class="mr-4">
      <%= f.label "Heavy" %>
      <%= f.check_box :heavy_true, {}, 1, nil %>
    </div>

    <%= f.submit "Search", class: "button is-dark" %>
  <% end %>

  <table class="table is-bordered is-hoverable">
    <thead>
      <tr>
        <th>
          <%= sort_link(@q, :province, "Province", default_order: :asc) %>
        </th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact #</th>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
      <% @schools.each_with_index do |school, index| %>
        <tr>
          <td><%= school.province %></td>
          <td><%= school.name %></td>
          <td><%= school.address %></td>
          <td><%= school.contact_number %></td>
          <td><%= category_list(school) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>