<table>
  <thead>
    <tr>
      <th>Province</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th>Vehicle Category</th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each_with_index do |school, index| %>
      <tr>
        <td><%= school.province %></td>
        <td><%= school.name %></td>
        <td><%= school.address %></td>
        <td><%= school.contact_number %></td>
        <td><%= school.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
