<!DOCTYPE html>
<html>
  <head>
    <title>LTO Accredited Driving Schools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Unofficial list of all LTO accredit driving schools."/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="has-background-light">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
